<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{213,330},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{71,330},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{192,478},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{96,478},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{0,478},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{380,330},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{284,330},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{288,478},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{384,478},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{96,774},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{288,774},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{0,330},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{192,774},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{0,774},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{384,626},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{96,626},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{288,626},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{192,626},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,148}</string>
                <key>spriteSourceSize</key>
                <string>{96,148}</string>
                <key>textureRect</key>
                <string>{{0,626},{96,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{142,330},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{426,220},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{426,0},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{71,110},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{0,110},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{355,0},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{284,0},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{71,0},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{213,0},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{142,0},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{142,110},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{213,110},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{71,220},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{213,220},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{355,220},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{284,220},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{142,220},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{0,220},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{284,110},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{426,110},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{355,110},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mahjong_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{0,0},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mahjong.png</string>
            <key>size</key>
            <string>{497,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a9102b1883d69fada0b019ad515a329:c1d73e78f3be8906a65a47de41a87238:a66e1e2dba01cafa0dc5d7695a1166f5$</string>
            <key>textureFileName</key>
            <string>Mahjong.png</string>
        </dict>
    </dict>
</plist>
