<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,236}</string>
                <key>spriteSourceSize</key>
                <string>{371,236}</string>
                <key>textureRect</key>
                <string>{{0,0},{371,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,236}</string>
                <key>spriteSourceSize</key>
                <string>{371,236}</string>
                <key>textureRect</key>
                <string>{{371,0},{371,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,236}</string>
                <key>spriteSourceSize</key>
                <string>{371,236}</string>
                <key>textureRect</key>
                <string>{{742,0},{371,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,236}</string>
                <key>spriteSourceSize</key>
                <string>{371,236}</string>
                <key>textureRect</key>
                <string>{{1113,0},{371,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,236}</string>
                <key>spriteSourceSize</key>
                <string>{371,236}</string>
                <key>textureRect</key>
                <string>{{1484,0},{371,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,236}</string>
                <key>spriteSourceSize</key>
                <string>{371,236}</string>
                <key>textureRect</key>
                <string>{{0,236},{371,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,236}</string>
                <key>spriteSourceSize</key>
                <string>{371,236}</string>
                <key>textureRect</key>
                <string>{{371,236},{371,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,236}</string>
                <key>spriteSourceSize</key>
                <string>{371,236}</string>
                <key>textureRect</key>
                <string>{{742,236},{371,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,236}</string>
                <key>spriteSourceSize</key>
                <string>{371,236}</string>
                <key>textureRect</key>
                <string>{{1113,236},{371,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,236}</string>
                <key>spriteSourceSize</key>
                <string>{371,236}</string>
                <key>textureRect</key>
                <string>{{1484,236},{371,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Clock.png</string>
            <key>size</key>
            <string>{1855,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95f21f5664a00690ba131a8bb2b593a3:c1a043ce3c8f237c85de1ca2eac6c735:31f787c6e1e7ccfca98a365d04946434$</string>
            <key>textureFileName</key>
            <string>Clock.png</string>
        </dict>
    </dict>
</plist>
